In [9]:
import pandas as pd
dep_df = pd.read_csv('departments.csv')
pro_df = pd.read_csv('products_small.csv')

In [8]:
dep_df

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [10]:
pro_df

,product_id,product_name,aisle_id,department_id
0,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
1,8,Cut Russet Potatoes Steam N' Mash,116,1
2,12,Chocolate Fudge Layer Cake,119,1
3,18,Pizza for One Suprema Frozen Pizza,79,1
4,30,"Three Cheese Ziti, Marinara with Meatballs",38,1
...,...,...,...,...
332,627,Low Fat Honey Graham Crackers,61,19
333,630,Snack Size Candy,45,19
334,631,Original Puffcorn,107,19
335,635,Little Bites Snickerdoodle Muffins,61,19
336,650,Pop'n Hot! Vegan Broccoli Poppers,50,19

In [16]:
dep_df.merge(pro_df, on='department_id', how='left')

,department_id,department,product_id,product_name,aisle_id
0,1,frozen,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38
1,1,frozen,8,Cut Russet Potatoes Steam N' Mash,116
2,1,frozen,12,Chocolate Fudge Layer Cake,119
3,1,frozen,18,Pizza for One Suprema Frozen Pizza,79
4,1,frozen,30,"Three Cheese Ziti, Marinara with Meatballs",38
...,...,...,...,...,...
332,21,missing,491,Pompelmo Water,100
333,21,missing,556,Bake & Break Cheese Garlic Loaf,100
334,21,missing,562,Traditional Tartar Sauce,100
335,21,missing,614,Plain Dairy-Free Probiotic Drinkable Cashewgurt,100
336,21,missing,624,Chub Chorizo,100

In [14]:
pd.merge(dep_df, pro_df, on='department_id', how='inner')

,department_id,department,product_id,product_name,aisle_id
0,1,frozen,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38
1,1,frozen,8,Cut Russet Potatoes Steam N' Mash,116
2,1,frozen,12,Chocolate Fudge Layer Cake,119
3,1,frozen,18,Pizza for One Suprema Frozen Pizza,79
4,1,frozen,30,"Three Cheese Ziti, Marinara with Meatballs",38
...,...,...,...,...,...
332,21,missing,491,Pompelmo Water,100
333,21,missing,556,Bake & Break Cheese Garlic Loaf,100
334,21,missing,562,Traditional Tartar Sauce,100
335,21,missing,614,Plain Dairy-Free Probiotic Drinkable Cashewgurt,100
336,21,missing,624,Chub Chorizo,100