In [1]:
# %matplotlib inline
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [4]:
# len(titles) #232330
# titles.describe #232330 rows
# titles.count() # 232330

### What are the earliest two films listed in the titles dataframe?

In [5]:
titles['year'].min() # 1894
titles.sort_values(by=['year']).head() # Miss Jerry & The Startled Lover
titles.loc[ titles['year'] == titles['year'].min()]
titles.sort_values('year').head(2)

                     title  year
177757          Miss Jerry  1894
215272  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [6]:
titles.loc[ titles['title']=='Hamlet'].count() #18
titles.loc[ titles['title'].str.contains('Hamlet')].count() #54

title    54
year     54
dtype: int64

### How many movies are titled "North by Northwest"?

In [7]:
titles.loc[ titles['title']=='North by Northwest'].count()  #1
titles.loc[ titles['title'].str.contains('North by Northwest')].count() #1

title    1
year     1
dtype: int64

                     title  year
139311  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [8]:
titles.loc[ titles['title'].str.contains('Hamlet')].sort_values(by='year').head(1) # 1910
titles.loc[ titles['title']=='Hamlet'].sort_values(by='year').head(1) #1910
titles[ titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
46721  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [9]:
titles.loc[ titles['title'].str.contains('Treasure Island')].sort_values(by='year').shape[0]
titles[titles.title == 'Treasure Island'].sort_values('year').shape[0]

8

### How many movies were made in the year 1950?

In [10]:
titles.loc[ titles.year == 1950].count() #1099 
len(titles.loc[ titles.year == 1950]) #1099

1099

### How many movies were made in the year 1960?

In [11]:
titles.loc[ titles.year == 1960].count() # 1501

title    1501
year     1501
dtype: int64

### How many movies were made from 1950 through 1959?

In [12]:
titles.loc[ (titles.year > 1950) & (titles.year < 1959)].count() #10132  
# count() will only return the count of non-NA/NaN rows for each column
titles.loc[ (titles.year > 1950) & (titles.year < 1959)].shape[0] #10132
# shape  will always correctly tell you the number of rows
# Shape is also faster than count()
# len(df.index is fastest)

len(titles.loc[ (titles.year > 1950) & (titles.year < 1959)].index ) #10132

10132

### In what years has a movie titled "Batman" been released?

In [13]:
titles.loc[titles.title.str.contains('Batman')].year
titles[titles.title =='Batman']

        title  year
56000  Batman  1989
74608  Batman  1943

### How many roles were there in the movie "Inception"?

In [14]:
cast[cast.title == 'Inception'].shape[0] #77

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [19]:
# cast.loc[cast.n.notnull()].head() == cast[cast.n.notnull()].head() # is equivalent
# cast[cast.n.isnull()].character.shape # 1390399 bad way
cast[(cast.title =='Inception') & cast.n.isnull()].shape[0] #26

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [16]:
cast[cast.n.notnull()].character.shape[0] #2244068

2244068

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [17]:
cast[(cast.title =='North by Northwest') & (cast.n.notnull())].sort_values(by='n')

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
cast[(cast.year == 1972) & (cast.title == 'Sleuth')].sort_values(by='n')

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [20]:
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values('n')
c

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [21]:
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [24]:
# How many roles were credited in Branagh’s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [25]:
c = cast
c = c[c.character == 'Hamlet']
len(c)

92

### How many people have played an "Ophelia"?

In [26]:
len(cast[cast.character == "Ophelia"].name.unique())

109

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
c = cast
c = c[cast.n == 2]
c = c[cast.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c.sort_values('year')
c

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?