In [1]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
titles = pd.read_csv('data/titles.csv')
t = titles
# titles.head()

In [3]:
cast = pd.read_csv('data/cast.csv')
c = cast
# cast.head()

### Using groupby(), count the number of films that have been released each decade in the history of cinema.

In [4]:
t.groupby(t.year // 10 * 10).size()
# size() applied to df gives no. of elements
# size() applied to group by gives no. of rows in each grouping

year
1890        3
1900       37
1910     6512
1920     8797
1930    10097
1940     8576
1950    12711
1960    17515
1970    18714
1980    20243
1990    22225
2000    38713
2010    67977
2020      210
dtype: int64

In [5]:
t.size()

TypeError: 'numpy.int64' object is not callable

### Use groupby() count the number of "Hamlet" films made each decade.

In [6]:
t[t.title =='Hamlet'].groupby(t.year // 10 * 10).size()

year
1910    3
1920    1
1940    1
1950    1
1960    2
1970    2
1980    1
1990    2
2000    2
2010    3
dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [7]:
%time c[(c.year // 10 == 195) & (c.n == 1)].groupby(['year','type']).size()

CPU times: user 81.6 ms, sys: 4.16 ms, total: 85.7 ms
Wall time: 85.1 ms

year  type
1950  actor      626
      actress    281
1951  actor      647
      actress    281
1952  actor      607
      actress    293
1953  actor      652
      actress    301
1954  actor      634
      actress    310
1955  actor      641
      actress    281
1956  actor      643
      actress    305
1957  actor      735
      actress    301
1958  actor      710
      actress    295
1959  actor      721
      actress    317
dtype: int64

### In the 1950s decade taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

In [8]:
c[(c.year // 10 * 10 == 1950) & (c.n < 6)].groupby(['n','type']).size()

n    type
1.0  actor      6616
     actress    2965
2.0  actor      4564
     actress    4556
3.0  actor      5587
     actress    3148
4.0  actor      5594
     actress    2849
5.0  actor      5611
     actress    2544
dtype: int64

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

In [12]:
c[c.title == 'Pink Panther'].sort_values('n').groupby(['year'])[['n']].max()

Empty DataFrame
Columns: [n]
Index: []

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

### List each of the characters that Frank Oz has portrayed at least twice.