In [1]:
import pandas as pd

### Connect Pandas to the database with this URL:

In [2]:
titles = pd.read_csv('data/titles.csv', index_col=None)
t = titles
# titles.head()

In [3]:
cast = pd.read_csv('data/cast.csv', index_col=None)
c = cast
# cast.head()

### Define a year as a "Superman year" whose films feature more Superman characters than Batman. How many years in film history have been Superman years?

In [4]:
# first filter down to just movies with superman or batman
ct = c[ (c.character == 'Superman') | (c.character == 'Batman') ]
ct = ct.groupby(['year','character']).size()
ct = ct.unstack().fillna(0)
ct[ct['Superman'] > ct['Batman']].shape[0]

11

### How many years have been "Batman years", with more Batman characters than Superman characters?

In [5]:
ct = c[ (c.character == 'Superman') | (c.character == 'Batman') ]
ct = ct.groupby(['year','character']).size()
ct = ct.unstack().fillna(0)
ct[ct['Superman'] < ct['Batman']].shape[0]

26

### Count the number of actor roles each year and the number of actress roles each year over the history of film.

In [6]:
c.groupby(['year','type']).size()

year  type
1894  actor       2
      actress     1
1900  actor       2
1905  actor       1
1906  actor      14
                 ..
2022  actress    11
2023  actor       6
      actress     5
2025  actor       2
2026  actor       1
Length: 240, dtype: int64

### Find the difference between the number of actor roles each year and the number of actress roles each year over the history of film.

In [9]:
ct = c.groupby(['year','type']).size()
ct = ct.unstack()
(ct.actor - ct.actress).fillna(0).sort_index()

year
1894     1.0
1900     0.0
1905     0.0
1906    11.0
1907     0.0
        ...
2021     5.0
2022     7.0
2023     1.0
2025     0.0
2026     0.0
Length: 123, dtype: float64

### What is the fraction of roles that have been 'actor' roles each year in the history of film.

### What is the fraction of supporting (n=2) roles that have been 'actor' roles each year in the history of film.