In [1]:
# Rename this file from viewing to filtering
import pandas as pd 
import numpy as np 
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})

In [3]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [4]:
df.A

2013-01-01   -0.099770
2013-01-02   -0.333965
2013-01-03   -1.224052
2013-01-04   -0.048068
2013-01-05    0.381731
2013-01-06   -0.622279
Freq: D, Name: A, dtype: float64

In [5]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.099770 -2.746827  0.331558  1.549484
2013-01-02 -0.333965  1.301970 -0.486898  1.058378
2013-01-03 -1.224052 -0.187397 -0.375204 -0.085866

In [6]:
df.loc["2013-01-01"]

A   -0.099770
B   -2.746827
C    0.331558
D    1.549484
Name: 2013-01-01 00:00:00, dtype: float64

In [8]:
# select more than one column with loc by their column names
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.099770 -2.746827
2013-01-02 -0.333965  1.301970
2013-01-03 -1.224052 -0.187397
2013-01-04 -0.048068  0.463692
2013-01-05  0.381731 -0.307759
2013-01-06 -0.622279 -0.992966

In [10]:
# We can also use label slicing and include both endpoints:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02 -0.333965  1.301970
2013-01-03 -1.224052 -0.187397
2013-01-04 -0.048068  0.463692

In [12]:
# The data type of the returned object is automatically changed based on the dimension of the object.
type(df.loc['20130102', ['A', 'B']])

pandas.core.series.Series

In [14]:
type(df.loc[dates[0], 'A'])

numpy.float64

In [15]:
df.iloc[3]

A   -0.048068
B    0.463692
C   -0.480311
D   -2.048360
Name: 2013-01-04 00:00:00, dtype: float64

In [16]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.048068  0.463692
2013-01-05  0.381731 -0.307759

In [17]:
df = pd.DataFrame({'string': list('abc'),
                       'int64': list(range(1, 4)),
                       'uint8': np.arange(3, 6).astype('u1'),
                       'float64': np.arange(4.0, 7.0),
                       'bool1': [True, False, True],
                       'bool2': [False, True, False],
                       'dates': pd.date_range('now', periods=3),
                       'category': pd.Series(list("ABC")).astype('category')})

In [18]:
df

,string,int64,uint8,float64,bool1,bool2,dates,category
0,a,1,3,4.0,True,False,2020-07-28 11:45:03.691921,A
1,b,2,4,5.0,False,True,2020-07-29 11:45:03.691921,B
2,c,3,5,6.0,True,False,2020-07-30 11:45:03.691921,C

In [19]:
df.select_dtypes(include=bool)

   bool1  bool2
0   True  False
1  False   True
2   True  False

In [20]:
# create column D with all rows equal to the exp
# is actually inserting a vector?
df.loc[:, 'D'] = np.array([5] * len(df))
df

,string,int64,uint8,float64,bool1,bool2,dates,category,D
0,a,1,3,4.0,True,False,2020-07-28 11:45:03.691921,A,5
1,b,2,4,5.0,False,True,2020-07-29 11:45:03.691921,B,5
2,c,3,5,6.0,True,False,2020-07-30 11:45:03.691921,C,5

In [29]:
(np.array([5]*2))

array([5, 5])